 
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdown.h2{
      background-color: #242526;
      color:yellow ;
  }
 
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
  .dropdown {
    
    position: absolute;
    top: 62px;
    width: 300px;
    height:20rem;
    transform: translateX(-45%);
    border: none;
    border-radius: 8px;
    padding: 1rem;
    overflow-y: scroll;
    transition: height var(500ms) ease;
    
  }
  
  
  
  