.empty-gallery {
  background-color: #733b37;
  text-align: center;
  width: 100%;
  border: 1px black solid;
  box-shadow: 5px 5px 10px rgba(209, 204, 204, 0.685),
    -5px -5px 10px rgba(209, 204, 204, 0.685);
}

.title {
  color: white;
  font-size: 1.5rem;
  margin: 30px;
}
