.features-container {
  display: flex;
  justify-content: space-between;
}

.feature {
  display: inline-block;
  margin-top: 5rem;
  width: 33%;
  text-align: center;
  vertical-align: top;
}
.picture {
  width: 10rem;
  height: 10rem;
}
.caption {
  font-weight: bold;
  color: #01a9b4;
  text-align: center;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .picture {
    width: 5rem;
    height: 5rem;
  }
  .features-container {
    margin: 2rem;
    flex-direction: column;
    justify-items: center;
  }

  .feature {
    display: flex;
    width: 100%;
    align-content: space-around;
    justify-items: baseline;
    margin-top: 1.5rem;
  }
  .picture {
    margin-right: 1.5rem;
  }
}

/* Media Query for low resolution Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
}
