.reset_password_form {
  width: 60%;
  margin: 100px auto;
  border: 1px solid rgba(199, 189, 189, 0.8);

  background-color: white;
  box-shadow: 5px 5px 10px rgba(199, 189, 189, 0.699),
    -5px -5px 10px rgba(199, 189, 189, 0.699);
}

.reset_password_form #email,
#newPassword,
#retypePassword,
label,
p {
  width: 70%;
  margin: auto;
}
.actions-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.email-sended {
  width: 70%;
  margin: 1rem auto 1rem auto;
  height: auto;
  word-wrap: break-word;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: green;
}

.email-sended span {
  color: #01a9b4;
  font-weight: bold;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .reset_password_form {
    width: 90%;
  }
  .reset_password_form #email,
  label,
  p {
    width: 90%;
  }
}
