.authentication__header {
  color: black;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.2rem;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 4rem auto !important;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}
