.profile-item {
  margin: 1rem;
  width: calc(45% - 2rem);
  min-width: 17.5rem;
}

.profile-item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1rem;
  color: white;
  background: #292929;
}

.profile-item a:hover,
.profile-item a:active {
  background: #383838;
}

.profile-item__content {
  padding: 0 !important;
  height: 100%;
}

.profile-item__image {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.profile-item__info {
  float: left;
}
.profile-item__info h5 {
  text-align: left;
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: #ffd900;
}

.profile-item a:first-child:hover h2,
.profile-item a:first-child:active h2,
.profile-item a:first-child:hover h3,
.profile-item a:first-child:active h3 {
  color: #ff5722;
}
