.home-auth-card {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.8;
  width: 20rem;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .home-auth-card {
    margin: auto;
    width: 100%;
  }
}
